name: parkapp

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Cache deps
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Vet
        run: |
          go vet ./tests/...

      - name: Build
        run: |
          make all

      - name: Setup autotest binary
        run: |
          chmod -R +x $GITHUB_WORKSPACE/.tools
          mv $GITHUB_WORKSPACE/.tools/parkapptest /usr/local/bin/parkapptest

      - name: Build the stack
        run: docker-compose up -d

      - name: Test
        run: |
          parkapptest \
            -test.v -test.run=^TestParkapp$ \
            -parkapp-host=localhost \
            -parkapp-port=8080 \